<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/public_main.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | absolute_url }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
                processEscapes: true,
                processEnvironments: true
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
            }
        };
    </script>
</head>
<body>
    <header>
        <h1><a href="{{ '/' | absolute_url }}" class="header-link">{{ site.title }}</a></h1>
        <nav>
            <a href="{{ '/' | absolute_url }}">About</a>
            <a href="https://aditharun.substack.com" target="_blank">Substack</a>
            <a href="{{ '/posts' | absolute_url }}">Archive</a>
        </nav>
    </header>
    <main class="blog-post">
        {{ content }}
    </main>
    <footer>
        <ul class="social-links">
            <li><a href="mailto:{{ site.social-network-links.email }}">email</a></li>
            <li><a href="https://github.com/{{ site.social-network-links.github | default: 'aditharun' }}">github</a></li>
            <li><a href="https://x.com/aditharun_">X</a></li>
            <li><a href="https://aditharun.substack.com">substack</a></li>
            <li><a href="https://www.linkedin.com/in/aditharun/">linkedin</a></li>
            <li><a href="https://scholar.google.com/citations?user={{ site.social-network-links.google-scholar }}">google scholar</a></li>
        </ul>
    </footer>
</body>
</html> 